server:
  host: localhost
  port: 3000

context:
  timeout: 2

jwt:
  secret: JMSJ5auZNCvPSQVTkREcSRWEfQF82LsM

database:
  driver: mysql
  host: 127.0.0.1
  port: 3306
  name: go_react
  user: root
  password:

redis:
  host: 127.0.0.1
  port: 6379
  password:
  db: 0
  duration: 1440